<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<!-- CSS Reset Sheet -->
		{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"> --}}
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<title>MVC With Burgers</title>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		<div id="main">
			{{{ body }}}
		</div>
	</body>
</html>